.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navigationBar {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: black;
  position:fixed;
  top:0;
  width: 100%;
}


.rockets {
 display: grid;
 /* margin-top: 10%; */
 /* filter: brightness(70%); */
 

}
.rockets img {
  width: 50%;
  border-radius: 10%;
  
}

.rockets img:hover {
  transform: scale(1.1);
  transition: 0.2s
}

  



.spacex {
  margin-top: 100px;
}

.rocketDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: white;

}

.spaceShips {
  margin-top: 200px;
  color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}


.missionX {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}

.launchesX {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rocketName {
    /* color: white;
    text-transform: uppercase;
    font-size: 40px; */
    text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  /* transform: skewY(-10deg); */
  letter-spacing: 4px;
  word-spacing: -8px;
  color:white;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    
}


.textLink {
  text-decoration: none;
  color: white;
}


.detailImg {
  width: 40%;
  border-radius: 10%;
  padding: 15px; 
}

.rocketDescription {
  width: 70%;
  font-size: 30px;
  color: white;
  border: white 5px solid;
  padding: 40px;
  background-color: black;
  border-radius: 10%;

}

.detailImg:hover {
  transform: scale(1.1);
  transition: 0.2s
}


h2 {
  color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

h3 {
  color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.artical {
  color: white;
  margin-bottom: 20%;
  width: 70%;

}

.info {
  color: white;
}

footer {
 padding-top: 50px;
 padding-bottom: 50px;
 background-color: black;
 font-size: 25px;
 display: flex;
 justify-content: space-around;
 color: white;
}

h6 {
  margin-top: 100px;
  color: white;
  font-size: 25px;
  margin-bottom: 0;
  border: white 3px solid;
  padding: 10px;
}

.launchName {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

a {
  color: white;
  text-decoration: none;
  margin-left: 100px;
}

.launchYear {
  margin-top: 10px;
}

.modelRocket {
  margin-top: 10px;
}